{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Parking</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="page-wrapper">
    <form action="{% url 'login' %}" method="post">
        <div class="login-box">
            {% csrf_token %}
            <h1>LOG IN</h1>

            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">

            <input type="submit" name="submit" value="LOGIN">

            {% for message in messages %}
            <p id="alert">{{ message }}</p>
            {% endfor %}

            <p class="info"> Don't have an account? <a href="{% url 'register' %}">Register</a>

        </div>
    </form>
</div>

</body>
</html>
